* {
    padding: 0;
    margin: 0;
}

.park-header {
    min-height: 89.5vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)), url(https://www.marseille-tourisme.com/app/uploads/marseille-tourisme/2020/06/thumbs/palais-longchamp-fontainelamyotcm-1920x480-crop-1606169850.jpg);
    background-position: center;
    background-size: cover;
    }

@media all and (max-width: 600px) {
    .park-header {
        width: 100vw;
        height: 100vh;
    }
}
    

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 3.5em;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 1.5em;
    color: white;
}

.park-intro {
    margin-left: 45%;
    margin-top: 5rem;
}

.park-intro h2 {
    font-size: 2em;
    padding-bottom: 1rem;
}

.park-intro p {
    text-align: justify;
    font-size: 1.25em;
}

.park-col-1 {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    margin-left: 7.5%;
    margin-top: 5%;
}

.park-col-1-section-1,
.park-col-1-section-2,
.park-col-1-section-3,
.park-col-1-section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2rem 2rem;
}

.park-col-1-section-1 img,
.park-col-1-section-2 img,
.park-col-1-section-3 img,
.park-col-1-section-4 img {
    border-radius: 2%;
    height: 100%;
    width: 600px;
}

.park-col-1-text {
    margin-left: 5rem;
}

.park-col-1-text h2 {
    margin-bottom: 5rem;
    font-size: 2em;
}

.park-col-1-text p {
    font-size: 1em;
    text-align: justify;
    margin-right: 25%;
}

.park-intro-left {
    text-align: justify;
    margin-top: 5rem;
    margin-left: 15%;
}

.park-intro-left h2 {
    font-size: 3em;
    padding-bottom: 1rem;
}

.park-intro-left p {
    font-size: 1.25em;
}

.park-col-2 {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    margin-right: 7.5%;
    margin-top: 5%;
}

.park-col-2-section-1,
.park-col-2-section-2,
.park-col-2-section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2rem 2rem;
}

.park-col-2-section-1 img,
.park-col-2-section-2 img,
.park-col-2-section-3 img {
    border-radius: 2%;
    height: 100%;
    width: 600px;
    order: 2;
}

.park-col-2-text {
    margin-right: 5rem;
}

.park-col-2-text h2 {
    margin-bottom: 5rem;
    font-size: 2em;
    width: 75%;
    margin-left: 25%;
}

.park-col-2-text p {
    font-size: 1em;
    text-align: justify;
    margin-left: 25%;
}

.park-intro-left {
    text-align: justify;
    margin-top: 5rem;
    margin-left: 13%;
}

.park-intro-left h2 {
    font-size: 2.1em;
    padding-bottom: 1rem;
}

.park-intro-left p {
    font-size: 1.25em;
}

@media all and (max-width: 600px) {
    .park-intro,
    .park-intro-left {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 1em;
        text-align: center;
        width: 95vw;
    }
    .park-col-1,
    .park-col-2  {
        margin: 0;
    }
    .park-col-1-section-1,
    .park-col-1-section-2,
    .park-col-1-section-3,
    .park-col-1-section-4,
    .park-col-2-section-1,
    .park-col-2-section-2,
    .park-col-2-section-3 {

        flex-direction: column;
        font-size: 0.85em;
    }
    .park-col-1-section-1 img,
    .park-col-1-section-2 img,
    .park-col-1-section-3 img,
    .park-col-1-section-4 img,
    .park-col-2-section-1 img,
    .park-col-2-section-2 img,
    .park-col-2-section-3 img {
        order: 0;
        width: 95%;
    }
    .park-col-1-text,
    .park-col-2-text {
        width: 100%;
    }
    .park-col-1-text h2,
    .park-col-2-text h2 {
        margin-top: 25px;
        margin-bottom: 15px;
    }
}